/* Reset básico para remover margens e padding padrão */
body, h1, ul, form, input, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

main {
    padding-inline: 10vw;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #c6c6c6;
    cursor: not-allowed;
}
